.results {
    width: 100vw;
    height: 100vh;
    overflow: auto;


    &__header {
        &__logo {
            max-width: 50vw;
            height: auto;
            padding-top: 25vh;
        }
    }
}