.results {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    &__header {
        width: 100%;
        display: flex;
        justify-content: center;

        &__logo {
            max-width: 50vw;
            height: auto;
            padding-top: 4vh;
            padding-bottom: 4vh;
        }
    }

    &__back-btn {
        top: auto;
        right: 20px;
        bottom: 20px;
        left: auto;
        position: fixed;
    }
}