<div class="home">
    <div class="home__content">
        <div class="home__content__header">
            <img class="home__content__header__logo"
                 src="assets/logo.png">
        </div>
        <div class="home__content__body">
            <mat-form-field appearance="fill">
                <mat-label>Search</mat-label>
                <input matInput 
                    type="text" 
                    placeholder="Ex: snakes"
                    (keydown.enter)="searchJokes()"
                    [(ngModel)]="searchQuery">
            </mat-form-field>
            <div class="home__content__body__btn">
                <button mat-button 
                        color="primary"
                        (click)="searchJokes()">
                    Norris Search
                </button>
                <button mat-button 
                        color="primary"
                        (click)="searchJokes()">
                    I'm Feeling Lucky
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showLoading"
     class="overlay">
    <div class="center">
        <mat-spinner></mat-spinner>
    </div>
</div>

<router-outlet></router-outlet>
